@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-slate-50 text-slate-900 dark:bg-dark-bg dark:text-slate-100 antialiased;
  }
}

.glass-card {
  @apply bg-white/70 dark:bg-dark-surface/70 backdrop-blur-lg border border-slate-200 dark:border-dark-border shadow-sm hover:shadow-md transition-all duration-300;
}